@import '~antd/dist/antd.css';

.App {
  height: 100%;
}

#user-dashboard {
  height: 100%;
}

#group-dashboard {
  height: 100%;
}

.ant-layout {
  height: 100%;
}

.signin-form {
  margin-top: 10%
}

#login-form {
  float: left;
  margin-left: 20%;
}

#signup-form {
  float: right;
  margin-right: 20%;
}

.username-label {
  float: left;
  color: white;
}

#groups-label {
  margin-left: 15%;
  color: white;
}



#yelp-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, auto)
}

.friends-list {
  list-style-type: none;
  color: white;
}

.yelp-images {
  width: 50%;
}

.yelp-results {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  clear: both;
}
