@import '~antd/dist/antd.css';

.App {
  height: 100%;
}

#user-dashboard {
  height: 100%;
}

#group-dashboard {
  height: 100%;
}

.ant-layout {
  height: 100%;
}

.signin-form {
  margin-top: 10%
}

#login-form {
  float: left;
  margin-left: 20%;
}

#signup-form {
  float: right;
  margin-right: 20%;
}

.username-label {
  float: left;
  color: white;
}

#groups-label {
  margin-left: 15%;
  color: white;
}

.friends-list {
  list-style-type: none;
  color: white;
}

.yelp-images {
  width: 20%;
}

#yelp-container {

}

#yelp-results {
  /* width: 100%; */
  /* height: 60%; */
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
    position:relative;
}
